
body{
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
    font: 14px sans-serif; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0px;
    padding-top: 0px;
}
.dropdown-menu {
    font-size: 20px;
}
.btn-success {
            margin-right: 5px;
        }
.table tbody tr {
            font-size: 15px;
            text-align: left;

        }
.table tr td:last-child a{
    margin-right: 15px;
}
