

body{ font: 14px sans-serif; text-align: center; }

.page-header h2{
    margin-top: 0;
}

.dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding-right: 20px;
        }
.dropdown-menu {
      font-size: 20px;
        }
.btn-success {
            margin-right: 5px;
        }
.table tbody tr {
            font-size: 15px;
            text-align: left;

        }

table tr td:last-child a{
    margin-right: 15px;
}